@import "../../../styles/index.scss";

.lotr-container {
  background: linear-gradient(rgba(0, 0, 0, 0.479), rgba(0, 0, 0, 0.253));
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  margin-top: -10px;

  .cast-section {
    @media screen and (min-width: 1000px) {
      width: 1200px;
    }
    .cast-card {
      filter: brightness(0.8);
      transition: 0.4s;
      &:hover {
        cursor: pointer;
        filter: brightness(1);
      }
    }
  }

  .dir {
    h3 {
      margin: 5px;

      .gold {
        color: $goldenrod;
        font-weight: normal;
        margin-right: 5px;
      }
    }
  }

  .genre * {
    letter-spacing: 1px;
    border: 1px solid #aaa;
    padding: 5px 10px 5px 10px;
    border-radius: 15px;
  }

  .hobbit-header {
    background: linear-gradient(to right, black 20%, rgba(0, 0, 0, 0.144)),
      url("../../../assets/hobbitwp.jpg");
    background-position: center;
    background-size: cover;
    height: 680px;
    @media screen and (min-width: 900px) {
      padding-left: 4%;
    }
  }

  .movie-icons {
    span {
      width: 35px;
      height: 35px;
      margin: 5px;
      border-radius: 50%;
      @include flex-row;
      justify-content: center;
      background-color: $ropBlue;
      @media screen and (min-width: 600px) {
        height: 45px;
        width: 45px;
      }
      svg {
        font-size: 25px;
      }
    }
  }
  .chapters {
    @media screen and (min-width: 1000px) {
      height: 720px;
      margin: 3%;
    }

    .active-chapter {
      height: auto;
      margin: 10px;
      width: 60px;
      @media screen and (min-width: 1000px) {
        width: 90px;
      }
    }

    .inactive-chapter {
      height: auto;
      margin: 10px;
      width: 50px;
      @media screen and (min-width: 1000px) {
        width: 80px;
      }
    }

    .linear {
      background: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.829),
        rgba(0, 0, 0, 0.075) 70%
      );
    }
  }

  .lotr-header {
    background: linear-gradient(to right, black 20%, rgba(0, 0, 0, 0.144)),
      url("../../../assets/1258894.jpg");
    background-position: center;
    background-size: cover;
    height: 680px;
    @media screen and (min-width: 900px) {
      padding-left: 4%;
    }
  }
}

.slider-wrapper {
  z-index: 0;

  &:before {
    content: "";
    background: url("../../../assets/background.jpg");
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
  }

  .slider-container {
    display: flex;
    position: relative;
    height: 460px;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    align-items: center;
    justify-content: center;

    article {
      background: url("../../../assets/rock-wallpaper.webp");
      border-radius: 22px;
      border-image-source: url("../../../assets/border-image.png");
      border-image-slice: 40 40 40 40;
      border-image-width: 40px 40px 40px 40px;
      border-image-outset: 5px 5px 5px;
      color: #ccc;
      position: absolute;
      height: 450px;
      width: 60%;
      transition: 0.5s;
    }

    article.activeSlide {
      opacity: 1;
      transform: translateX(0);
      z-index: 5;
    }

    article.lastSlide,
    article.nextSlide {
      transform: translateX(-100%);
      filter: brightness(0.5);
      height: 330px;

      section {
        position: relative;
        padding: 5px;
        height: 90%;
        @include flex-row;
        justify-content: space-around;
        width: auto;

        .image {
          height: 270px;
          width: 300px;

          img {
            height: 100%;
            width: auto;
          }
        }
        .content {
          width: 300px;
        }
      }
    }

    article.nextSlide {
      transform: translateX(100%);
    }

    article.lastSlide {
      section {
        .content {
          h4,
          h3 {
            line-height: 15px;
            font-size: 0.6rem;
          }
        }
      }
    }
  }
}

.char-slideshow {
  background: url("../../../assets/background.jpg");
  background-position: center;
  background-size: cover;
}
