@import "../../../styles/index.scss";

.lotr-container {
  background: linear-gradient(rgba(0, 0, 0, 0.479), rgba(0, 0, 0, 0.253)),
    url("../../../assets/delux-bk.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  margin-top: -10px;

  .lotr-header {
    background: url("../../../assets/blue-wp.webp");
    background-position: center;
    background-size: cover;
  }

  section {
    background: $elipse-black;
  }
}

.slider-wrapper {
  z-index: 0;

  &:before {
    content: "";
    background: url("../../../assets/background.jpg");
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
  }

  .slider-container {
    display: flex;
    position: relative;
    height: 460px;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    align-items: center;
    justify-content: center;

    article {
      background: url("../../../assets/rock-wallpaper.webp");
      border-radius: 22px;
      border-image-source: url("../../../assets/border-image.png");
      border-image-slice: 40 40 40 40;
      border-image-width: 40px 40px 40px 40px;
      border-image-outset: 5px 5px 5px;
      color: #ccc;
      position: absolute;
      height: 450px;
      width: 60%;
      transition: 0.5s;
    }

    article.activeSlide {
      opacity: 1;
      transform: translateX(0);
      z-index: 5;
    }

    article.lastSlide,
    article.nextSlide {
      transform: translateX(-100%);
      filter: brightness(0.5);
      height: 330px;

      section {
        position: relative;
        padding: 5px;
        height: 90%;
        @include flex-row;
        justify-content: space-around;
        width: auto;

        .image {
          height: 270px;
          width: 300px;

          img {
            height: 100%;
            width: auto;
          }
        }
        .content {
          width: 300px;
        }
      }
    }

    article.nextSlide {
      transform: translateX(100%);
    }

    article.lastSlide {
      section {
        .content {
          h4,
          h3 {
            line-height: 15px;
            font-size: 0.6rem;
          }
        }
      }
    }
  }
}

.char-slideshow {
  background: url("../../../assets/background.jpg");
  background-position: center;
  background-size: cover;
}
