::-webkit-scrollbar {
  width: 7px;
  border-radius: 10px;
  background-color: #101010;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(145, 106, 9);
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: goldenrod;
}

::-webkit-scrollbar-track {
  background: linear-gradient(
    to bottom,
    rgba(90, 70, 19, 0.432),
    rgb(105, 76, 3)
  );
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "semplicitapro";
  src: local("semplicitapro"),
    url("../src/fonts/SemplicitaPro.otf") format("opentype");
}
@font-face {
  font-family: "semplicitaprobold";
  src: local("semplicitapro"),
    url("../src/fonts/SemplicitaPro-Bold.otf") format("opentype");
}
@font-face {
  font-family: "anironc";
  src: local("anironc"), url("../src/fonts/Anironc-d9DK.ttf") format("truetype");
}
@font-face {
  font-family: "anironc";
  src: local("anironc"),
    url("../src/fonts/AnironcBold-PKwr.ttf") format("truetype");
}
@font-face {
  font-family: "kelt";
  src: local("kelt"), url("../src/fonts/KELTN__.ttf") format("truetype");
}
@font-face {
  font-family: "moria";
  src: local("angerthasMoria"),
    url("../src/fonts/AngerthasMoria-lgLAD.ttf") format("truetype");
}
